<mat-toolbar>
  <div class="app-logo" [routerLink]="['/dashboard']">
    <!-- <img src="assets/images/logo.png"  class="app-logo-image"> -->
    <!-- <img src="/assets/images/logo.png" alt="App Logo" class="app-logo-image"> -->
    <span class="app-logo-text">🚨Alert App</span>
  </div>

</mat-toolbar>
<!-- <app-emergency-contact></app-emergency-contact> -->
 <!-- <app-medical-info></app-medical-info> -->
<!-- <div class="app-container"> -->
  <router-outlet></router-outlet>
<!-- </div> -->
<!-- <app-m-info></app-m-info> -->


<!-- <footer class="app-footer">
  <button class="button back"  [routerLink]="['/dashboard']">Back</button>
</footer> -->
